PORT=3001
MONGO_URI=mongodb+srv://username:password@exit.cbujd7e.mongodb.net/?appName=Exit
JWT_SECRET=your_super_secret_key
CALENDARIFIC_API_KEY=your_calendarific_key
MAIL_USER=pathanimrankhan308@gmail.com
MAIL_PASS=fusxzxakqwr
